<ion-list>

  <h1>Login</h1>
  <span>Login to start using the app</span>
  <div hideWhen="user.email && user.username && passwordValid">
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <error-notification *ngIf="credentialsInvalid == true" text="Username or Password is invalid."></error-notification>
    <error-notification *ngIf="serverError == true" text="Whoops. You cannot use the app at this moment. Either your internet isn't working, or there's a problem on our end."></error-notification>
  </div>
  <div *ngIf="username && password">
    <button (click)="login(user)" ion-button block>Login</button>
  </div>
</ion-list>