<ion-header>
    <ion-navbar>
        <ion-title>Profile</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div *ngIf="user">
        <div class="user-info">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 offset-md-1">
                        <h4>Your profile</h4>
                        <p>Username: {{user.username}}</p>
                        <p>Full name: {{user.firstName + ' ' + user.lastName}}</p>
                        <p>Email: {{user.email}}</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="friends" *ngIf="this.showFriends">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 offset-md-1">
                        <h4>Add a friend</h4>
                        <ion-input placeholder="Look for a username" [(ngModel)]="searchUsername" (keyup)="searchUsername.length >= 3 && searchByUsername()" clearInput></ion-input>
                        <div *ngIf="this.foundUser">
                            {{this.foundUser.username}} <ion-icon name="md-add-circle" (click)="addFriend(this.foundUser.id)"></ion-icon>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12 col-md-10 offset-md-1">
                        <h4>Your friends</h4>
                        <ul *ngFor="let friend of this.friends">
                            <ion-item>{{friend.user.firstName}} - <i>since: {{friend.friendsSince | date}}</i></ion-item>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</ion-content>
