<ion-list>

    <h1>Registration</h1>
    <span>Register an account to start sharing your Gym progress, and keep up with your work-out friends.</span>
    <div hideWhen="user.email && user.username && passwordValid">
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" [(ngModel)]="user.email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" [(ngModel)]="user.username"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="password1"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Verify Password</ion-label>
            <ion-input type="password" [(ngModel)]="password2"></ion-input>
        </ion-item>
        <error-notification *ngIf="!passwordValid() && password1.length > 0 && password2.length > 0" text="Passwords do not match, or are shorter than 8 characters."></error-notification>

    </div>
    <div *ngIf="user.email && user.username && passwordValid()">
        <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input type="text" [(ngModel)]="user.firstName"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Last Name</ion-label>
            <ion-input type="text" [(ngModel)]="user.lastName"></ion-input>
        </ion-item>
    </div>
    <div *ngIf="user.email && user.username && passwordValid() && user.lastName && user.firstName">
        <span>Yay! You're done setting up and are ready to use Gymi to track your progress! :-)</span>
        <button class="gymi-button" (click)="registerAccount(user)" ion-button block>Register Account</button>
    </div>


</ion-list>