<ion-list>

    <span>We ask you to fill out some basic details about yourself.</span>
    <div hideWhen="user.email && user.username && passwordValid">
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" [(ngModel)]="user.email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" [(ngModel)]="user.username"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password (min. 8 characters)</ion-label>
            <ion-input type="password" [(ngModel)]="password1"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Verify Password</ion-label>
            <ion-input type="password" [(ngModel)]="password2"></ion-input>
        </ion-item>
        <error-notification *ngIf="!passwordValid() && password1.length > 0 && password2.length > 0"
                            text="Passwords do not match, or is shorter than 8 characters."></error-notification>

    </div>
    <div *ngIf="user.email && user.username && passwordValid()">
        <p>We only need your first and last name. Almost there!</p>
        <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input type="text" [(ngModel)]="user.firstName"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Last Name</ion-label>
            <ion-input type="text" [(ngModel)]="user.lastName"></ion-input>
        </ion-item>
    </div>
    <ion-row>
        <button ion-button color="green" class="submit-btn" full type="submit"
                [disabled]="!user.email || !user.username || !passwordValid() || !user.lastName || !user.firstName"
                (click)="registerAccount(user)">Sign me up
        </button>
    </ion-row>


</ion-list>