<ion-card>

    <img src="assets/imgs/{{item.image}}.png" class="timeline-item__image">


    <ion-card-content>
        <h2>{{item.title}}</h2>
        <label class="timeline-item__date">{{item.date | date:'medium'}}</label>
        <label>{{item.message}}</label>

        <ion-row class="timeline-item__footer" (click)="toggleShowSessionDetails(item.sessionId)">
            <label *ngIf="item.type == 'session'" class="timeline-item__action">See workout details </label>
            <ion-icon class="timeline-item__arrow" *ngIf="isShowingSessionDetails != item.sessionId" name="arrow-dropdown"></ion-icon>
            <ion-icon class="timeline-item__arrow" *ngIf="isShowingSessionDetails == item.sessionId" name="arrow-dropup"></ion-icon>
        </ion-row>
        <ion-row *ngIf="isShowingSessionDetails == item.sessionId">
            <div *ngIf="isLoading">
                Loading data...
            </div>
            <div *ngIf="sessionDetails != undefined">
                <ion-row *ngFor="let chosenActivityType of sessionDetails.activities">
                    <ion-col>
                        <li>{{chosenActivityType.activityType.name}} - {{chosenActivityType.sessionTimes}}x {{chosenActivityType.amount}}
                            {{chosenActivityType.activityType.unit.name}}
                    </ion-col>
                </ion-row>
            </div>
        </ion-row>

    </ion-card-content>

</ion-card>