<ion-header>

    <ion-navbar>
        <ion-title>Add a new exercise</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>Excersise</ion-label>
        <ion-select interface="action-sheet">
            <ion-option *ngFor="let activity of this.activities" [value]="activity.name">{{activity.name}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Repetitions</ion-label>
        <ion-select interface="action-sheet">
            <ion-option *ngFor="let activity of this.activities" [value]="activity.name">{{activity.name}}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>Excersise
        <ion-label></ion-label>
        <ion-select interface="action-sheet">
            <ion-option *ngFor="let activity of this.activities" [value]="activity.name">{{activity.name}}</ion-option>
        </ion-select>
    </ion-item>



    <ion-fab right bottom>
        <button (click)="saveActivity()" ion-fab color="green">
            <ion-icon name="checkmark"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab left bottom>
        <button (click)="dismiss()" ion-fab color="assertive">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-fab>


</ion-content>
